# Directorios específicos de Pytest
.pytest_cache/

# Entorno virtual
venv/

# Configuración de PyCharm
.idea/

# Archivos compilados
__pycache__/
*.pyc

# Archivos generados por el sistema
.DS_Store
